h1, h2 {
  font-family: Lato;
}

@media print
{    
    .pagebreak
    {
      page-break-before:always;
    }
    .no-print
    {
        display: none !important;
    }
    .print
    {
        display: block !important;
    }
}